*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
}

.animated {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 100ms;
}
.animated:hover {
  background-color: #e9d5ff;
}
.animated:active {
  background-color: #a78bfa;
}

.one-line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}
